<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="itemService" class="com.tda.service.impl.ItemServiceImpl">
		<property name="itemDAO" ref="itemDAO" />
	</bean>
	
	<bean id="patientQueueService" class="com.tda.service.impl.PatientQueueServiceImpl">
		<property name="patientQueueDAO" ref="patientQueueDAO" />
		<property name="patientDAO" ref="patientDAO" />
		<property name="applicationUserDAO" ref="applicationUserDAO" />
	</bean>
	
	<bean id="itineraryService" class="com.tda.service.impl.ItineraryServiceImpl">
		<property name="itineraryDAO" ref="itineraryDAO" />
	</bean>
	
	<bean id="reportService" class="com.tda.service.report.ReportService">
		<property name="patientDAO" ref="patientDAO" />
	</bean>

	<bean id="chatService" class="com.tda.service.impl.ChatServiceImpl">
		<property name="chatDAO" ref="chatDAO" />
	</bean>

	<bean id="onlineUserService" class="com.tda.service.impl.OnlineUserServiceImpl">
		<property name="onlineUserDAO" ref="onlineUserDAO" />
	</bean>

	<bean id="applicationUserService" class="com.tda.service.impl.ApplicationUserServiceImpl">
		<property name="applicationUserDAO" ref="applicationUserDAO" />
		<property name="authorityDAO" ref="authorityDAO" />
	</bean>

	<bean id="authorityService" class="com.tda.service.impl.AuthorityServiceImpl">
		<property name="authorityDAO" ref="authorityDAO" />
	</bean>

	<bean id="patientService" class="com.tda.service.impl.PatientServiceImpl">
		<property name="patientDAO" ref="patientDAO" />
	</bean>

	<bean id="patientInTrainService" class="com.tda.service.impl.PatientInTrainServiceImpl">
		<property name="patientInTrainDAO" ref="patientInTrainDAO" />
	</bean>


	<bean id="socialWorkerFormService" class="com.tda.service.impl.SocialWorkerFormServiceImpl">
		<property name="socialWorkerFormDAO" ref="socialWorkerFormDAO" />
	</bean>
	
	<bean id="pediatricianFormService" class="com.tda.service.impl.PediatricianFormServiceImpl">
		<property name="pediatricianFormDAO" ref="pediatricianFormDAO" />
	</bean>

	<bean id="nurseFormService" class="com.tda.service.impl.NurseFormServiceImpl">
		<property name="nurseFormDAO" ref="nurseFormDAO" />
	</bean>
	
	<bean id="dentistFormService" class="com.tda.service.impl.DentistFormServiceImpl">
		<property name="dentistFormDAO" ref="dentistFormDAO" />
	</bean>

	<bean id="authenticationService" class="com.tda.service.impl.AuthenticationServiceImpl">
		<property name="authenticationManager"
			ref="org.springframework.security.authenticationManager" />
	</bean>
	
	<bean id="vaxineService" class="com.tda.service.impl.VaxineServiceImpl">
		<property name="vaxineDAO" ref="vaxineDAO" />
	</bean>

	<bean id="userProvider" class="com.tda.service.provider.UserDefaultProvider"
		init-method="init" depends-on="roleProvider">
		<property name="propertiesHolder">
			<util:properties location="classpath:users.properties" />
		</property>
		<property name="applicationUserService">
			<ref local="applicationUserService" />
		</property>
		<property name="authorityService">
			<ref local="authorityService" />
		</property>
	</bean>

	<bean id="roleProvider" class="com.tda.service.provider.RoleDefaultProvider"
		init-method="init">
		<property name="propertiesHolder">
			<util:properties location="classpath:roles.properties" />
		</property>
		<property name="authorityService">
			<ref local="authorityService" />
		</property>
	</bean>
	
	<bean id="vaxineProvider" class="com.tda.service.provider.VaxineDefaultProvider"
		init-method="init">
		<property name="propertiesHolder">
			<util:properties location="classpath:vaxines.properties" />
		</property>
		<property name="vaxineService">
			<ref local="vaxineService" />
		</property>
	</bean>
	
</beans>