<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="pruebaService" class="com.tda.service.PruebaServiceImpl">
		<property name="pruebaDAO" ref="pruebaDAO" />
	</bean>
	
	<bean id="itemService" class="com.tda.service.ItemServiceImpl">
		<property name="itemDAO" ref="itemDAO" />
	</bean>
</beans>