<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
       version="2.4">
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.tda.presentation.server.GreetingServiceGWTWrapperImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>pruebaServlet</servlet-name>
    <servlet-class>com.tda.presentation.server.PruebaServiceGWTWrapperImpl</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>greetServlet</servlet-name>
	<url-pattern>/prueba/greet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>pruebaServlet</servlet-name>
    <url-pattern>/prueba/prueba</url-pattern>
  </servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-presentation.xml
		</param-value>
	</context-param>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hola.html</welcome-file>
  </welcome-file-list>

</web-app>
