@CHARSET "UTF-8";

div[class=filter-container]{
}

.socialworkerform table th, .pediatricianform table th, .dentistform table th, .nurseform table th{
	font-weight: bolder;
	text-align: left;
	border-bottom: solid 1px;
	font-size: 11px;
	height: 30px;
}

.socialworkerform table td, .pediatricianform table td, .dentistform table td, .nurseform table td{
	font-weight: bolder;
	text-align: left;
	font-size: 11px;
}

.socialworkerform textarea, .pediatricianform textarea, .dentistform textarea, .nurseform textarea{
	width: 100%;
	height: 100px;
}

span.titleform{
	font-weight: bolder;
	text-align: left;
	font-size: 11px;
	height: 30px;
}

.distosicHidden{
	display:none;	
}

.form-input{
	float: left;
	width: 300px;
}