@CHARSET "UTF-8";

a:link {text-decoration:none; color: black; text-decoration: underline;}
a:visited {text-decoration:none; color: black;}
a:hover {text-decoration:none; background-color: blue; color: white;}
a:active {text-decoration:none; color: black;}

html,body{
	background-color: graytext;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	font-size: 14px;
	height:100%;
}

.main-container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	min-height: 100%;
	position: relative;
}

.menu-body-containter{
	height: 100%;
}

.header-container{
	font-size: 32px;
	background-color: white;
}

.menu-container{

}

.body-container{
	float: right; 
	width: 779px;
	overflow: -moz-scrollbars-vertical; 
    overflow-y: auto;
    overflow-x: none; 
    background-color: white;
    min-height: 100%;
    
    margin-top: 10px;
}

.header-container{
	clear: both;
	border-style: solid;
	border-width: 1px;
}

.menu-container{
	float: left;
	width: 200px;
	min-height: 100%;
	background-color: white;
	
	margin: 10px 0 0 10px;
}

.footer-container{
	width: 900px;
	clear: both;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	border-top: solid 1px;
	padding-bottom: 10px;
}

/* menu */
/* Generated via www.cssmenubuilder.com */

.menu{margin:0; padding:0; width:210px; list-style:none;background:rgb(255,255,255);}
.menu li{padding:0 0 0 0 ;  margin:0 0 1px 0; height:40px; display:block; }
.menu li a{text-align:left;height:40px; padding:0px 25px; font:16px Verdana, Arial, Helvetica, sans-serif; color:rgb(255,255,255); display:block; background:url('/presentation/themes/default/image/verMenuImages.png') 0px 0px no-repeat; text-decoration:none;}
.menu li a:hover{background:url('/presentation/themes/default/image/verMenuImages.png') 0px -40px no-repeat; color:rgb(255,255,255);}
.menu li a.active, .menu li a.active:hover{background:url('/presentation/themes/default/image/verMenuImages.png') 0px -80px no-repeat; color:rgb(255,255,255);}
.menu li a span{line-height:40px;}

/* buttons and icons */
.fg-button { 
   outline: 0; 
   padding: .2em .2em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   }
   
 a.fg-button-nf { 
   outline: 0; 
   padding: .3em .2em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   }
   
a.fg-button { 
   outline: 0; 
   padding: .3em .2em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   float: left;
   }
   
.button-icon{ float: left;}
.button-text{ font-size: 12px; }
a.button-text{  }
.button-edit{ width: 80px; }
.button-add{ width: 80px; }
.button-delete{ width: 80px; }

	
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }


 .queuemenu-button{
 	margin: 10px 5px 10px 0;
 }
 
 .queuemenu-userbutton{
 	margin: 5px 5px 0 0;
 }
 
 .menu-body-container{
 	min-height: 600px;
 }
 
.tinyTip{
	width: 325px;
	padding: 17px 0px 0px 0px;
	display: block;
	background: url('/presentation/themes/default/image/tinyTip-top.png') 0px 0px no-repeat;
}

.tinyTip .content{
	padding: 0px 15px 0px 15px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #010101;
	background: url('/presentation/themes/default/image/tinyTip-content.png') 0px 0px repeat-y;
}

.tinyTip .bottom{
	height: 47px;
	background: url('/presentation/themes/default/image/tinyTip-bottom.png') 0px 0px no-repeat;
	font: 0px/0px sans-serif;
}

.reportRow{
	border-style: solid;
	border-width: 1px;
	padding: 10px;	
	border-radius: 10px;
	margin-right: 10px;
	background-color: lightblue;
}

.historyDiv{
	border-style: solid;
	border-width: 1px;
	padding: 5px;	
	font-size: 20px;
	background-color: lightblue;
	border-radius: 10px;
	margin: 0px 10px 10px 0px;
}

.patientPicture{
	border-style:solid;
	border-width:5px;	
	border-radius: 10px;
}

.patientName{
	font-size:25px;
	font-style: italic;	
}

.syncdiv{
	border-style:solid;
	border-width: 1px;
	margin-right: 10px;
	padding: 5px;
	background-color: lightblue;
	border-radius: 10px;
}