@CHARSET "UTF-8";

body{
	background-color: graytext;
	font-family: Arial, Helvetica, sans-serif;
}

.main-container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.header-container{
	font-size: 32px;
	background-color: white;
}

.menu-container{
	float: left;
	width: 219px;
}

.body-container{
	float: right; 
	width: 779px;
	overflow: -moz-scrollbars-vertical; 
    overflow-y: auto;
    overflow-x: none; 
    background-color: white;
}

.header-container{
	clear: both;
	border-style: solid;
	border-width: 1px;
}

.menu-container{
	clear: both;
	border-left-style: solid;
	border-width: 1px;
	background-color: white;
}

.footer-container{
	width: 1000px;
	clear: both;
	border-style: solid;
	border-width: 1px;
	background-color: white;
}

/* menu */
/* Generated via www.cssmenubuilder.com */

.menu{margin:0; padding:0; width:210px; list-style:none;background:rgb(255,255,255);}
.menu li{padding:0 0 0 0 ;  margin:0 0 1px 0; height:40px; display:block; }
.menu li a{text-align:left;height:40px; padding:0px 25px; font:16px Verdana, Arial, Helvetica, sans-serif; color:rgb(255,255,255); display:block; background:url('/presentation/themes/default/image/verMenuImages.png') 0px 0px no-repeat; text-decoration:none;}
.menu li a:hover{background:url('/presentation/themes/default/image/verMenuImages.png') 0px -40px no-repeat; color:rgb(255,255,255);}
.menu li a.active, .menu li a.active:hover{background:url('/presentation/themes/default/image/verMenuImages.png') 0px -80px no-repeat; color:rgb(255,255,255);}
.menu li a span{line-height:40px;}

/* buttons and icons */
.fg-button { 
   outline: 0; 
   padding: .2em .2em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   }
   
a.fg-button { 
   outline: 0; 
   padding: .3em .2em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   float: left;
   }
   
.button-icon{ float: left;}
.button-text{ font-size: 12px; }
a.button-text{ font-weight: bolder; }
.button-edit{ width: 80px; }
.button-add{ width: 80px; }
.button-delete{ width: 90px; }
