@CHARSET "UTF-8";

.main-container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.header-container{
	font-size: 32px;
}

.menu-container{
	float: left;
	width: 200px;
}

.body-container{
	float: right; 
	width: 780px;
	height: 600px;
	overflow: -moz-scrollbars-vertical; 
    overflow-y: auto;
    overflow-x: none; 
}

.header-container{
	clear: both;
	border-style: solid;
	border-width: 1px;
}

.menu-container{
	clear: both;
	border-style: solid;
	border-width: 1px;
}

.footer-container{
	position: absolute;
	width: 1000px;
	clear: both;
	bottom: 0px;
	border-style: solid;
	border-width: 1px;
}
