@CHARSET "UTF-8";

.edit-item form > input{
	width: 20px;
}

/* buttons and icons */
.list-table{
	width: 760px;
}

.list-table tr:nth-child(even) {
	background: #AED0EA
}

/* header */
.list-table thead th{
	width: 150px;
	border-bottom: solid 1px;
	border-color:#AED0EA;
}

.list-table thead th > img{
	position: relative;
	top: -2px;
}

/* body */
.list-table tbody td{
	border-bottom: 1px solid;
	border-color:#AED0EA;
}

.list-table tr:nth-child{
	background: #FFF
}


.body-container form fieldset{

}

.newBtn {
	padding-top: 5px;
	padding-bottom: 30px;
}

/* welcome */

.welcome-location{ }

.welcome-forms{ width: 200px; }