@CHARSET "UTF-8";

.tooltipMenu {
	display:none;
	background:transparent url(/presentation/themes/default/image/tooltip/white_arrow.png);
	font-size:20px;
	text-align: center;
	height:70px;
	width:160px;
	padding:25px;
	color: black;
}

.tooltip {
	display:none;
	background:transparent url(/presentation/themes/default/image/tooltip/white.png);
	font-size:14px;
	text-align: center;
	height:60px;
	width:160px;
	padding:25px;
	color: black;
}